<% flash.each do |type, message| %>
  <% klass = if type == 'notice' %>
    <% 'primary' %>
  <% else %>
    <% 'danger' %>
  <% end %>
  <div class="alert alert-<%= klass %> alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
