<h6>
  <%= content_tag(:div, content_tag(:div, '',
                                    class: 'timer timer-progress',
                                    data: { timer: @test_passage.test.timer }),
                  class: 'background-progress text-center') %>

</h6>