// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bar-progress {
  background-color: #17A2B8;
  border-radius: 15px;
}

.background-progress {
  width: 100%;
  background-color: #d0d9de;
  border-radius: 15px;
}