<h1><%= t('.header') %></h1>

<td><%= link_to "Создать новый тест", new_admin_test_path %></td><br><br>

<table class="table table-hover">
  <thead class="bg-primary text-light">
  <tr>
    <th></th>
    <th>Название</th>
    <th>Уровень</th>
    <th>Категория</th>
    <th>Вопросы</th>
    <th colspan="3">Действия</th>
  </tr>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>
