<h1>Список всех тестов</h1>

<table>
  <thead>
  <tr>
    <th></th>
    <th>Название</th>
    <th>Уровень</th>
    <th>Категория</th>
    <th>Вопросов</th>
    <th>Действия</th>
  </tr>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>
