<h1>Список всех тестов</h1>

<td><%= link_to "Создать новый тест", new_test_path %></td><br><br>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Questions</th>
    <th colspan="4">Actions</th>
  </tr>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>
